.componentContainer {
  display: flex;
  height: 100%
}

.fileTreeContainer {
  padding: 0 1.5rem;
  background-color: var(--bg_dark1);

  z-index: 10;

  position: fixed;
  top: 0;
  bottom: 0;

  transform: translateX(-100%);
  transition: 0.25s ease-in;

  @media (min-width: 768px) {
    position: relative;
    transform: none;
    top: 0;
    z-index: 0;
  }
}

.websiteHeader {
  font: inherit;
  color: var(--teal);
  text-shadow: var(--tshadow) var(--teal);
  text-align: center;
  font-weight: bold;
  font-size: 24px;

  background: none;
  cursor: pointer;
  border: 2px var(--blue7) solid;
  border-radius: 3px;

  padding: 0.7rem;
  margin-top: 0.5rem;

}

.toggleButton {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 10;

  text-align: center;
  text-decoration: none;

  background-color: var(--bg_dark);
  font: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.open {
  transform: none;
}

.contentContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.tabListContainer {
  height: 2rem;
  flex: 0 0 auto;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg_dark);
}

.pageTab {
  padding: 0.5rem;

  color: var(--fg_gutter);
  text-shadow: var(--tshadow) var(--fg_gutter);
  text-align: center;
  text-decoration: none;

  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.pageTab:hover {
  background-color: var(--bg_highlight)
}

.activeTab {
  background-color: var(--bg);
  color: var(--fg);
  text-shadow: var(--tshadow) var(--fg);
}

.mdContainer {
  padding: 0 1.5rem 3rem 1.5rem;
  overflow: auto;
}

