---
import CommonHead from "../components/CommonHead.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title}/>
  <body>
    <slot />
  </body>
</html>

<style is:global>
:root {
  --bg: #1a1b26;
  --bg_dark: #16161e;
  --bg_dark1: #0C0E14;
  --bg_highlight: #292e42;
  --fg: #c0caf5;
  --fg_dark: #a9b1d6;
  --fg_gutter: #3b4261;
  --blue: #7aa2f7;
  --blue0: #3d59a1;
  --blue1: #2ac3de;
  --blue2: #0db9d7;
  --blue5: #89ddff;
  --blue6: #b4f9f8;
  --blue7: #394b70;
  --cyan: #7dcfff;
  --green: #9ece6a;
  --green1: #73daca;
  --green2: #41a6b5;
  --magenta: #bb9af7;
  --magenta2: #ff007c;
  --orange: #ff9e64;
  --purple: #9d7cd8;
  --red: #f7768e;
  --red1: #db4b4b;
  --teal: #1abc9c;
  --yellow: #e0af68;
  --dark3: #545c7e;
  --dark5: #737aa2;
  --comment: #565f89;
  --terminal_black: #414868; 
}

* {
  color: var(--fg);
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--bg);
}

p {
  margin: 0.7rem 0;
}

a {
  color: var(--orange);
  text-decoration: none;
}

/* bold properties */
b, strong {
  font-weight: bold;
  color: var(--blue5);
}

/* header properties */
h1, h2, h3, h4, h5, h6 {
  color: var(--teal);
  font-weight: bold;
}

/* indented and highlighted blocks of words */
blockquote {
  background-color: var(--bg_highlight);
  border-radius: 3px;
  border-left: 3px solid;
  border-color: var(--blue5);

  margin: 1em 0;
  padding: 0.1em 0.5rem;

  page-break-inside: avoid;

  @media (min-width: 786px) {
    width: 62%;
  }
}


/* code blocks */
code, pre {
  border-radius: 3px;
}

code {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px var(--comment) solid;
}

pre {
  line-height: 1.25em;
  padding: 6px 10px;
  overflow: auto;
}

pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

/* table, table headers and rows */
table, th, td {
  border: 2px solid;
  border-color: var(--dark3);
  border-collapse: collapse;
}

/* Table headers and rows */
th, td {
  padding: .5rem;
}

/* Visible line breaks */
hr {
  color: var(--blue7);
  background-color: var(--blue7);
  border-radius: 3px;
  height: 3px;
}

/* SVG images */
svg {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  stroke: var(--orange);
  stroke-width: 5px;
  max-height: auto;
  max-width: 150%;
}

/* Set circle fill for svg */
circle {
  fill: var(--orange);
}

/* Bitmap images */
img {
  max-width: 75%;
  height: auto;
  display: block;
}

iframe {
  max-width: 100%;
  margin: 2rem auto;
  border-radius: 3px;
  border: 0;
  display: block;
}

ul {
  list-style: circle outside;
  margin: 0 0.5rem;
}

i {
  padding: .2rem;
}
</style>
